@charset 'utf-8';
*{margin:0; padding:0; box-sizing:border-box;
 font-family: "微软雅黑"; font-size:12px;}
html,body{width:100%; height:100%;}
ul,ol{list-style:none;}
a{text-decoration:none; color:#666;}
img{display:block;/*vertical-align:top;*/}
.clearfix:after{content:' '; display:table; clear:both;}

